<div class="container" style="margin-top: 65px;">
    <div class="row">
        <div class="col-6">
            <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
                    <a href="signup.html" class="signup-image-link">Create an account</a>
        </div>
        <div class="col-6" style="padding-top: 90px;">
            <h2 class="form-title">Login</h2>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address/username</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div style="padding-top: 40px;">
                <button type="submit" class="btn btn-dark" style="height: 45px;width: 105px;"><a href="/home" style="text-decoration: none; color:white;">Log In</a></button>
              </div>
        </div>
    </div>
</div>