<!-- <ngb-carousel *ngIf="images" >
	<ng-template ngbSlide >
		<div class="picsum-img-wrapper" >
			<img [src]="images[0]" alt="Random first slide" style=" width: 100%;"/>
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" style=" width: 100%;"/>
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2]" alt="Random third slide" style=" width: 100%;"/>
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel> -->

<div class="container-fluid bg-offer my-5 py-3">
   
    <div class="container" >
        <h1 class="display-5 text-uppercase text- mb-0" >Support a cause you care about!</h1>
     
    </div>
 
</div>
<div class="d-grid gap-2 col-6 mx-auto mb-5">
    <button class="btn btn-white btn-lg" style="background-color: #7AB730;" (click)="open(myModal)">donate now!</button>
</div>
<ng-template #myModal class="modal" let-m1>
    <div class="modal-dialog">
      <div class="modal-content p-3" style="width: 750px;">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title  fw-bold">Payment</h3>
          <button type="button " class="btn-close ml-auto" 
          (click)="m1.close()"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form [formGroup]="VolunteerForm">
                <div class="row py-3">
                    <div class="form-group col-5">
                        <label for="price" class="fw-bold text-lead"><h5>price</h5></label>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" id="price" class="form-control" formControlName="price">
                    </div>
                </div>
                <div class="row py-3">
                    <div class="form-group col-5">
                        <label for="comment" class="fw-bold text-lead"><h5>Add comment</h5></label>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" id="comment" class="form-control" formControlName="comment">
                    </div>
                </div>
                <div class="row py-3">
                    <div class="form-group col-5">
                        <label for="bank details" class="fw-bold text-lead"><h5>Add bank details</h5></label>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" id="bank details" class="form-control" formControlName="bank details">
                    </div>
                </div>
               
            </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="btn text-dark" style="background-color:#7AB730;" (click)="m1.close()" >Submit</button>
            <button type="button" class="btn btn-danger" (click)="m1.close()">Close</button>
        </div>
  
      </div>
    </div>
</ng-template>
