<div class="row col-12">
    <h6 class="text-uppercase fs-3 fw-bold p-3 mt-2 text-center" style="color: #7AB730;">Terms and Conditions to be Volunteer</h6>
    <div>
        <ul class="fs-5">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi voluptates labore, perspiciatis qui aut dolore vero tempora sapiente, eveniet sunt et. Similique doloremque at, eveniet praesentium quisquam rem in, a eaque iusto, cum velit impedit tenetur repellendus recusandae! Omnis voluptates vel, laudantium autem in neque facilis voluptate esse quisquam.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi voluptates labore, perspiciatis qui aut dolore vero tempora sapiente, eveniet sunt et. Similique doloremque at, eveniet praesentium quisquam rem in, a eaque iusto, cum velit impedit tenetur repellendus recusandae! Omnis voluptates vel, laudantium autem in neque facilis voluptate esse quisquam.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi voluptates labore, perspiciatis qui aut dolore vero tempora sapiente, eveniet sunt et. Similique doloremque at, eveniet praesentium quisquam rem in, a eaque iusto, cum velit impedit tenetur repellendus recusandae! Omnis voluptates vel, laudantium autem in neque facilis voluptate esse quisquam.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi voluptates labore, perspiciatis qui aut dolore vero tempora sapiente, eveniet sunt et. Similique doloremque at, eveniet praesentium quisquam rem in, a eaque iusto, cum velit impedit tenetur repellendus recusandae! Omnis voluptates vel, laudantium autem in neque facilis voluptate esse quisquam.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi voluptates labore, perspiciatis qui aut dolore vero tempora sapiente, eveniet sunt et. Similique doloremque at, eveniet praesentium quisquam rem in, a eaque iusto, cum velit impedit tenetur repellendus recusandae! Omnis voluptates vel, laudantium autem in neque facilis voluptate esse quisquam.</li>
        </ul>
        <div class="text-center">
            <button class="btn text-center btn-lg" style="background-color: #7AB730;" (click)="open(myModal)"
            >Fill Form</button>

        </div>
    </div>
</div> 

<ng-template #myModal class="modal" let-m1>
    <div class="modal-dialog">
      <div class="modal-content p-3" style="width: 750px;">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title  fw-bold">Upload Information</h3>
          <button type="button " class="btn-close ml-auto" 
          (click)="m1.close()"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form [formGroup]="VolunteerForm">
                <div class="row py-3">
                    <div class="form-group col-5">
                        <label for="occupation" class="fw-bold text-lead"><h5>Your Occupation</h5></label>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" id="occupation" class="form-control" formControlName="occupation">
                    </div>
                </div>
                <div class="row py-3">
                    <div class="form-group col-5">
                        <label for="location" class="fw-bold text-lead"><h5>Your Current Location</h5></label>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" id="location" class="form-control" formControlName="location">
                    </div>
                </div>
                <div class="row py-3">
                    <div class="form-group col-5">
                        <label for="daysAvailable" class="fw-bold text-lead"><h5>Days You are Available</h5></label>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" id="daysAvailable" class="form-control" formControlName="daysAvailable">
                    </div>
                </div>
               
            </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="btn text-dark" style="background-color:#7AB730;" (click)="m1.close()" >Submit</button>
            <button type="button" class="btn btn-danger" (click)="m1.close()">Close</button>
        </div>
  
      </div>
    </div>
</ng-template>