<app-side-nav></app-side-nav>
<section style="min-height: 95vh;">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-9 col-md-8 jus ">
          <div class="row pt-md-5 mt-md-3 ">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
</section>
<div class="container-fluid bg-light" style="padding-bottom: 3rem;">
  <div class="container pt-5">
      <div class="row g-5">
          <div class="col-lg-3 col-md-6">
              <h5 class="text-uppercase border-start border-5 border-success ps-3 mb-4">Get In Touch</h5>
              <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor</p>
              <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>123 Street, New York, USA</p>
              <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>info@example.com</p>
              <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+012 345 67890</p>
          </div>
          <div class="col-lg-3 col-md-6">
              <h5 class="text-uppercase border-start border-5 border-success ps-3 mb-4">Quick Links</h5>
              <div class="d-flex flex-column justify-content-start">
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Meet The Team</a>
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                  <a class="text-body" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <h5 class="text-uppercase border-start border-5 border-success ps-3 mb-4">Popular Links</h5>
              <div class="d-flex flex-column justify-content-start">
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Meet The Team</a>
                  <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                  <a class="text-body" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <h5 class="text-uppercase border-start border-5 border-success ps-3 mb-4">Newsletter</h5>
              <form action="">
                  <div class="input-group">
                      <input type="text" class="form-control p-3" placeholder="Your Email">
                      <button class="btn btn-#7AB730" style="background-color: #7AB730;">Sign Up</button>
                  </div>
              </form>
              
          </div>
          <div class="col-12 text-center text-body">
              <a class="text-body" href="">Terms & Conditions</a>
              <span class="mx-1">|</span>
              <a class="text-body" href="">Privacy Policy</a>
              <span class="mx-1">|</span>
              <a class="text-body" href="">Customer Support</a>
              <span class="mx-1">|</span>
              <a class="text-body" href="">Payments</a>
              <span class="mx-1">|</span>
              <a class="text-body" href="">Help</a>
              <span class="mx-1">|</span>
              <a class="text-body" href="">FAQs</a>
          </div>
      </div>
  </div>
</div>
