<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-start">
            <div class="col-lg-7">
                <div class="border-start border-5 border-dark ps-5 mb-5">
                    <h6 class="text-dark text-uppercase"></h6>
                    <h1 class="display-5 text-uppercase text-white mb-0">Stray adoption website</h1>
                </div>
                <p class="text-white mb-4">We help improve the welfare of stray and abandoned pets by addressing overpopulation and preventing more street pets from joining the fold. 
                Dogs and cats are brought in by the public as well as by our animal rescue and volunteer teams. We have also expanded our sterilisation program to suburban Mumbai — home to 10 lakh street dogs.   </p>
                <a href="" class="btn btn-outline-light py-md-3 px-md-5">Read More</a>
            </div>
        </div>
    </div>
</div>



<!-- <div class="container-fluid  py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-uppercase text-dark mb-lg-4"></h1>
                <h1 class="text-uppercase  mb-lg-4">Make Your Pets Happy</h1>
                <p class="fs-4 text-white mb-lg-4">Dolore tempor clita lorem rebum kasd eirmod dolore diam eos kasd. Kasd clita ea justo est sed kasd erat clita sea</p>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Read More</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top_block">
    <div class="slider-relative">
      <div class="slider-block">
        <div class="slider">
          <ul class="items">
            <li><img src="assets/images/slide.jpg" alt="">
              <div class="banner">They Need Your <span>Love</span> and <i>Care</i>
                <p>It is so easy to make them happy</p>
              </div>
            </li>
            <li><img src="assets/images/slide1.jpg" alt="">
              <div class="banner">They Need Your <span>Love</span> and <i>Care</i>
                <p>It is so easy to make them happy</p>
              </div>
            </li>
            <li><img src="assets/images/slide2.jpg" alt="">
              <div class="banner">They Need Your <span>Love</span> and <i>Care</i>
                <p>It is so easy to make them happy</p>
              </div>
            </li>
            <li><img src="assets/images/slide3.jpg" alt="">
              <div class="banner">They Need Your <span>Love</span> and <i>Care</i>
                <p>It is so easy to make them happy</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
 


  <div class="container-fluid bg-testimonial py-5" style="margin: 45px 0;">
    <div class="container py-5">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel bg-white p-5">
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-4">
                            <img class="img-fluid mx-auto" src="img/testimonial-1.jpg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                                <i class="bi bi-chat-square-quote text-primary"></i>
                            </div>
                        </div>
                        <p><h2>Pet Care Tips </h2>
                            <br>
                            Proper pet care is the basis of responsible pet ownership. It is important when you adopt a pet to understand it is a lifetime commitment to a furry family member that depends on you for his or her health and well-being. 
Pets need healthy food.
Give your pets 24/7 access to fresh drinking water. 
Proper pet care includes providing a safe, cozy shelter.
Pets need to go to the bathroom regularly.
Make sure that your pet gets regular exercise. 
Pets require doctor visits and healthy habits.
With the above tips on proper pet care, you and your beloved pet are well on your way to a lifetime of happiness together!
                        <hr class="w-25 mx-auto">
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div style="text-align: center;" class="pb-5">
        <h5 class="display-5" style="color: #7AB730;">URGENT NEED!</h5>
    </div>
    <ngb-carousel class="mb-5" >
	<ng-template ngbSlide >
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/images/slide1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name:doggie</h5>
                      <p class="card-text">cute</p>
                      <a href="#" class="btn btn-primary">help</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/images/slide1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name:</h5>
                      <p class="card-text">cute</p>
                      <a href="#" class="btn btn-primary">help</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/images/slide1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name:</h5>
                      <p class="card-text">cute</p>
                      <a href="#" class="btn btn-primary">help</a>
                    </div>
                  </div>
            </div>

        </div>
		
			
		
		
	</ng-template>
	<ng-template ngbSlide>
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/images/slide1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name:</h5>
                      <p class="card-text">cute</p>
                      <a href="#" class="btn btn-primary">help</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/images/slide1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name:</h5>
                      <p class="card-text">cute</p>
                      <a href="#" class="btn btn-primary">help</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/images/slide1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name:</h5>
                      <p class="card-text">cute</p>
                      <a href="#" class="btn btn-primary">help</a>
                    </div>
                  </div>
            </div>

        </div>
		
	</ng-template>
</ngb-carousel>
</div>

<!-- <div class="container-fluid bg-light mt-5 py-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-success ps-3 mb-4">Get In Touch</h5>
                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor</p>
                <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>info@example.com</p>
                <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-success ps-3 mb-4">Quick Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Meet The Team</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                    <a class="text-body" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-success ps-3 mb-4">Popular Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Meet The Team</a>
                    <a class="text-body mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                    <a class="text-body" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase border-start border-5 border-success ps-3 mb-4">Newsletter</h5>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Your Email">
                        <button class="btn btn-success">Sign Up</button>
                    </div>
                </form>
                
            </div>
            <div class="col-12 text-center text-body">
                <a class="text-body" href="">Terms & Conditions</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Privacy Policy</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Customer Support</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Payments</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">Help</a>
                <span class="mx-1">|</span>
                <a class="text-body" href="">FAQs</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white-50 py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white" href="#">Your Site Name</a>. All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">Designed by <a class="text-white" href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div> -->

